<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NodeJS GraphQL server</title>
    <script type='text/javascript'>
        var query = `query read($id: ID!) {recipeById(id: $id){ title, body }}`;
        fetch('/graphql', {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            method: 'post',
            data: JSON.stringify(JSON.stringify({
                query: query,
                variables: { "id": "59c273d5930e295296dc6584" },
            }))
        })
            .then(response => response.text())
            .then(response => document.getElementById('container').innerHTML = response)
    </script>
</head>

<body>
    <h1>NodeJS GraphQL server</h1>
    <pre id="container"></pre>
</body>

</html>