doctype html
html(lang="en")
  head
    title NodeJS GraphQL server
    script(type='text/javascript').
      var xhr = new XMLHttpRequest();
      xhr.responseType = 'json';
      xhr.open("POST", "/graphql");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.setRequestHeader("Accept", "application/json");
      xhr.onload = function () {
        console.log('data returned:', xhr.response);

        document.getElementById('container').innerHTML = JSON.stringify(xhr.response, null, 2);
      }

      var query = `query read($id: ID!) {recipeById(id: $id){ title, body }}`;

      xhr.send(JSON.stringify({
        query: query,
        variables: {"id": "59c273d5930e295296dc6584"},
      }));
  body
    h1 NodeJS GraphQL server
    pre#container.col
